.btn {
  display: inline-block;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  border-radius: 4px;
  border: none;
}

.btn--stretch {
  width: 100%;
  text-align: center;
}

.btn--middle {
  padding-left: 40px;
  padding-right: 40px;
}

.btn--small {
  padding-left: 15px;
  padding-right: 15px;
}

.slider-item__btn {
  padding-left: 70px;
  padding-right: 70px;
}

.btn--red {
  background: #fb565a;
}

.btn--red:hover {
  background: #d6494d;
}

.btn--red:active {
  background: #b63538;
  box-shadow: inset 0 3px 0 #9b2d30;
}

.btn--green {
  background: #00ca74;
}

.btn--green:hover {
  background: #01a25e;
}

.btn--green:active {
  background: #009053;
  box-shadow: inset 0 3px 0 #007b47;
}

.btn--yellow {
  background: #efc84a;
}

.btn--yellow:hover {
  background: #d6ae2c;
}

.btn--yellow:active {
  background: #c09b24;
  box-shadow: inset 0 3px 0 #a3841f;
}

.btn--gray {
  background-color: #f1f1f1;
  color: #000;
  border: 2px solid #f1f1f1;
}

.btn--gray:hover {
  background-color: #e5e5e5;
  border: 2px solid #e5e5e5;
}

.btn--gray:active {
  background: #d5d5d5;
  box-shadow: inset 0 3px 0 #b5b5b5;
  border: 2px solid #d5d5d5;
}

.btn--gray.action {
  background: #fff;
  border: 2px solid #f2f2f2;
}

.btn--gray.action:active {
  background: #fff;
  border: 2px solid #f2f2f2;
  box-shadow: none;
}

body {
  line-height: 22px;
  font-weight: 500;
  color: #9b9fa1;
  font-family: "Roboto", sans-serif;
}

.clearfix::after {
  display: table;
  content: " ";
  clear: both;
}

h1 {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #000;
}

h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #000;
}

.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 60px;
  background-color: #eee;
}

.main-nav {
  height: 135px;
}

.main-logo {
  float: left;
  margin-top: 27px;
}

.main-nav-menu {
  float: right;
  font-size: 0;
}

.main-nav-menu__item {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
}

.main-nav-menu__item a {
  position: relative;
  display: block;
  padding-top: 55px;
  margin-left: 45px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.main-nav-menu__item a:hover {
  color: #fb565a;
}
.main-nav-menu__item a:active {
  color: #000;
  opacity: .5;
}
.main-nav-menu__item .action {
  border-bottom: 2px solid #fb565a;
}
.shopping-cart {
  padding-left: 50px;
}

.shopping-cart a::before {
  position: absolute;
  left: -25px;
  top: 60px;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -5px -5px;
}
/*Стилизация слайдера*/

.slider-wrapper {
  position: relative;
}

.slider-item {
  background-repeat: no-repeat;
  background-position: top right;
  height: 300px;
}

.slider-item--1page {
  background-image: url(../img/slider1.jpg);
}

.slider-item--2page {
  background-image: url(../img/slider2.jpg);
  display: none;
}

.slider-item--3page {
  background-image: url(../img/slider3.jpg);
  display: none;
}

.slider-item__description {
  position: absolute;
  width: 475px;
}

.switches-wrapper {
  position: absolute;
  left: 45%;
  bottom: 70px;
}

input[name="slider"] {
  display: none;
}

input[name="slider"] + label {
  content: "";
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #fff;
  margin: 5px;
}

input[name="slider"]:checked + label {
  background-color: #c1c1c1;
}
/* Сетка для основного содержимого*/
.features {
  height: 380px;
}

.features-item {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.features-item h2 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
}

.features-item p {
  font-size: 15px;
  line-height: 22px;
  color: #283136;
  margin-bottom: 27px;
}

.features-item:last-child {
  margin-right: 0;
}

.about-us {
  margin-bottom: 40px;
  padding-top: 55px;
  border-top: 2px solid #eee;
}

.block-header {
  margin-top: 15px;
  margin-bottom: 17px;
  font-size: 36px;
  line-height: 36px;
  color: #000;
  font-weight: 500;
}

.block-description {
  color: #283136;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 43px;
}

.about-us .second-header {
  color: #283136;
  text-transform: uppercase;
  margin-bottom: 0;
}

.about-us-list {
  color: #283136;
  padding: 0;
  margin-top: 10px;
}

.about-us-list__item {
  position: relative;
  list-style-type: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
}

.about-us-list__item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  left: 0;
  top: 22px;
}

.content-left {
  float: left;
  width: 570px;
  padding-right: 40px;
}

.content-right {
  float: right;
  box-sizing: border-box;
  padding: 5px;
  width: 250px;
}

.block-logo {
  margin-bottom: 63px;
  text-align: center;
}

.block-logo__img {
  margin-bottom: 5px;
}

.block-logo__description {
  position: relative;
  text-transform: uppercase;
}

.block-logo__description::before, .block-logo__description::after {
  position: absolute;
  content: "";
  width: 65px;
  height: 2px;
  background: #eee;
}

.block-logo__description::before {
  top: 10px;
  left: 0;
}

.block-logo__description::after {
  top: 10px;
  right: 0;
}

.our-works {
  height: 167px;
  margin-bottom: 76px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  font-size: 0;
}

.our-works__item {
  display: inline-block;
  height: 100%;
  width: 33.333333%;
  text-align: center;
  opacity: .5;
}
.our-works__item:hover {
  opacity: 1;
}
.our-works__item::before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1px;
  vertical-align: middle;
}

.our-works__item img {
  display: inline-block;
  vertical-align: middle;
}

.google-map-container {
  position: relative;
  height: 419px;
}

.google-map-container img {
  position: absolute;
}

.call-to-action {
  position: absolute;
  top: 85px;
  left: 200px;
  box-sizing: border-box;
  width: 250px;
  height: 245px;
  background-color: #fff;
  padding: 20px;
}

.call-to-action p {
  color: #666;
}

.popup {
  display: none;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  box-sizing: border-box;
  width: 630px;
  height: 415px;
  padding: 50px 90px;
  background-color: #fff;
  box-shadow: 0 0 20px 3px rgba(0,0,0,.5);
}

.popup__contacts {
  overflow: hidden;
  margin-bottom: 15px;
}

.popup label {
  line-height: 35px;
  font-weight: bold;
}

.popup__contacts input {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #d7dcde;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
  text-transform: uppercase;
}

.popup__name {
  width: 47%;
  float: left;
  margin-right: 6%;
}

.popup__email {
  width: 47%;
  float: right;
}

.popup_content {
  margin-bottom: 45px;
  width: 450px;
}

.popup_content textarea {
  box-sizing: border-box;
  padding: 5px 10px;
  width: 100%;
  height: 110px;
  border-radius: 5px;
  border: 2px solid #d7dcde;
  text-transform: uppercase;
}

.popup__contacts input:focus, .popup_content textarea:focus {
  outline: none;
}

.popup__btn-close {
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 0;
  border: none;
  height: 40px;
  width: 40px;
  background-color: #fb565a;
  border-radius: 50%;
}

.popup__btn-close::after, .popup__btn-close::before {
  position: absolute;
  content: " ";
  height: 5px;
  width: 28px;
  background-color: #fff;
  left: 6px;
  top: 18px;
}

.popup__btn-close::before {
  transform: rotate(-45deg);
}

.popup__btn-close::after {
  transform: rotate(45deg);
}

.block-show{
  display: block;
  animation-name: show;
  animation-duration: 1s;
}

@keyframes show {
  0%{ transform: translate(-50%,-2000px); }
  70%{ transform: translate(-50%,30px); }
  90%{ transform: translate(-50%,-10px); }
  100%{ transform: translate(-50%,0); }
}
/*footer*/

.inline-wrapper {
  height: 218px;
}



.inline-wrapper::before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1px;
  vertical-align: middle;
}

.social-buttons {
  display: inline-block;
  width: 240px;
  margin-right: 50px;
  vertical-align: middle;
}

.social-btn {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  float: left;
  background: #e1e1e1;
  border-radius: 50%;
  margin-right: 30px;
}

.social-btn:hover {
  background-color: #fb565a;
}

.social-btn:active {
  background-color: #d6494d;
  box-shadow: inset 0 3px 0 #b63e42;
}

.social-btn:last-child {
  margin-right: 0;
}

.footer-text {
  display: inline-block;
  width: 560px;
  padding-top: 10px;
  padding-left: 20px;
  vertical-align: middle;
}

.footer-text .block-description {
  margin-bottom: 10px;
  margin-top: 5px;
}

.footer-text .block-header {
  margin-top: 0;
  margin-bottom: 12px;
}

/* Сетка для каталога */

.main-header h1 {
  font-size: 40px;
  line-height: 48px;;
  text-align: center;
  text-transform: uppercase;
  margin-top: 13px;
  padding-bottom: 83px;
}

.site-filters fieldset{
  border: none;
}

.site-filters legend {
  text-transform: uppercase;
  font-size: 18px;
  padding: 0;
  color: #000;
}

.site-filters ul {
  list-style-type: none;
  padding: 0;
  padding-left: 37px;
}

.site-filters li {
  list-style-type: none;
  padding: 8px 0;
}

.site-filters input[type="checkbox"], .site-filters input[type="radio"] {
  display: none;
}

.prise-slider {
  margin-bottom: 48px;
}

.maket-net {
  margin-bottom: 40px;
}

.maket-features {
  margin-bottom: 53px;
}

.maket-net__item + label {
  position: relative;
}

.maket-net__item:checked + label::before, .maket-net__item + label::before {
  top: -5px;
  left: -35px;
}

.maket-net__item + label::before {
  position: absolute;
  content: " ";
  width: 25px;
  height: 25px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -5px -158px;
  opacity: .8;
}

.maket-net__item + label:hover {
  color: #000;
}

.maket-net__item + label:hover::before {
  opacity: 1;
}

.maket-net__item:checked + label::before {
  position: absolute;
  content: " ";
  width: 25px;
  height: 25px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -5px -193px;
}

.maket-features__item + label {
  position: relative;
}

.maket-features__item:checked + label::before, .maket-features__item + label::before {
  top: -3px;
  left: -35px;
  color: #283136;
}

.maket-features__item + label::before {
  position: absolute;
  content: " ";
  width: 23px;
  height: 23px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -5px -30px;
  opacity: .8;
}

.maket-features__item + label:hover {
  color: #000;
}

.maket-features__item + label:hover::before {
  opacity: 1;
}

.maket-features__item:checked + label::before {
  position: absolute;
  content: " ";
  width: 27px;
  height: 23px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -5px -63px;
}

.left-block {
  float: left;
  width: 235px;
  padding-top: 10px;
  padding-left: 0;
  margin-right: 70px;
}

.right-block {
  float: right;
  width: 560px;
}

.sorting-block {
  line-height: 18px;
}

.sorting-block .sort-type {
  float: left;
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
}

.sort-type__item {
  float: left;
}

.sort-type__item:first-child {
  color: #000;
  font-size: 12px;
  line-height: 18px;
}

.sort-type__item:not(:first-child) {
  margin: 0 23px;
}

.sort-type__item a {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dotted #00ca74;
  color: #b2b2b2;
}

.sort-type__item a:hover {
  color: #000;
}

.sort-type__item a:active {
  border-bottom: 1px dotted transparent;
}

.sort-type__item .action {
  color: #000;
  border-bottom: 1px dotted transparent;
}

.sorting-block .sort-arrow {
  float: right;
  list-style: none;
  padding-top: 5px;
}

.sort-arrow__item {
  float: right;
  margin-left: 7px;
}

.sort-arrow__item a {
  width: 12px;
  height: 10px;
  display: block;
  text-decoration: none;
  background-repeat: no-repeat;

}

.sort-arrow__item .arrow-down {
  background-image: url("../img/spritesheet.png");
  background-position: -5px -253px;
}

.sort-arrow__item .arrow-up {
  background-image: url("../img/spritesheet.png");
  background-position: -5px -273px;
}


/* артикулы каталога */

.store-items {
  font-size: 0;
}

.store-item {
  position: relative;
  display: inline-block;
  margin-bottom: 80px;
  cursor: pointer;
  text-align: center;
}

.store-item::before {
  position: absolute;
  left: 12px;
  top: 11px;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 17px 0 0 0 #fff,
  34px 0 0 0 #fff;
}

.store-item:nth-child(odd) {
  display: inline-block;
  margin-right: 80px;
}

.store-item__top {
  height: 30px;
  background-color: #f1f1f1;
  border-radius: 5px 5px 0 0 ;
}

.store-item:hover .store-item__top {
  background-color: #797979;
}

.store-item-description {
  opacity: 0;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  padding: 18px 30px 20px 30px;
  background-color: #fff;
  transition: opacity .5s ease-out;
}

.store-item:hover .store-item-description {
  opacity: 1;
}

.store-item-description a {
  text-decoration: none;
}

.store-item-description__header {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
}

.store-item-description__text {
  color: #000;
  font-size: 14px;
  line-height: 18px;
}

.store-item-description .btn {
  font-size: 18px;
}

.store-pages{
	margin-bottom: 80px;
}

.store-pages ul {
  padding: 0;
}

.store-pages__item {
  float: left;
  list-style: none;
  margin-right: 12px;
}
/* Спрайтики */

.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}

.sprite-icon-fb {
  width: 11px;
  height: 22px;
  background-position: -5px -96px;
  transform: translate(-50%, -50%);
}

.sprite-icon-inst {
  width: 21px;
  height: 20px;
  background-position: -5px -128px;
  transform: translate(-50%, -50%);
}

.sprite-icon-vk {
  width: 26px;
  height: 15px;
  background-position: -5px -228px;
  transform: translate(-50%, -50%);
}

.sprite-icon-check-off {
  width: 23px;
  height: 23px;
  background-position: -5px -30px;
}

.sprite-icon-check-on {
  width: 27px;
  height: 23px;
  background-position: -5px -63px;
}

.sprite-icon-radio-off {
  width: 25px;
  height: 25px;
  background-position: -5px -158px;
}

.sprite-icon-radio-on {
  width: 25px;
  height: 25px;
  background-position: -5px -193px;
}

.sprite-icon-vk {
  width: 26px;
  height: 15px;
  background-position: -5px -228px;
}

/*фильтр цены*/

.range-filter {
  width: 240px;
  margin: 18px auto;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 30px;
  background: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 39px;
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .min-toggle {
  left: 70px;
}

.range-controls .max-toggle {
  left: 165px;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  border: none;
  background: #f1f1f1;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #283136;
  border-radius: 5px;
}

.price-controls .min-price {
  margin-right: 14px;
}

.price-controls {
  white-space: nowrap;
}
